/* src/App.css */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-left: 550px;
  /* background-color: #f0f0f0; */
}

.open-modal-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
}

.open-modal-button:hover {
  background-color: #0056b3;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(251, 2, 2, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.nav-left,
.nav-middle,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-left {
  gap: 10px;
}

.nav-logo {
  width: 30px;
  height: 30px;
  background-color: #007bff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.nav-name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.nav-item {
  margin: 0 10px;
  cursor: pointer;
  font-weight: bold;
  color: #007bff;
}

.nav-icon {
  font-size: 18px;
  margin-left: 15px;
  cursor: pointer;
  color: #007bff;
}

.nav-icon:hover {
  color: #ff0000;
}

.close-button {
  background: transparent;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
}

.close-button:hover {
  color: #ff0000;
}
